<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<h1>Add visit</h1>
<a href = "{% url 'patients' %}"> Patients</a>

<form method="POST">

{% csrf_token %}
{{ form.as_p }}

<button type="submit">SUBMIT</button>
<h2>Showing all visits by {{ patient.name }}</h2>
</form>

<table>
  <tr>
    <th>Name</th>
    <th>ID Number</th>
    <th>Date of birth</th>
    <th>Date confirmed</th>
  </tr>
  <tr>
    <td>{{ patient.name }}</td>
    <td>{{ patient.ID_number }}</td>
    <td>{{ patient.date_of_birth }}</td>
    <td>{{ patient.date_case_confirmed }}</td>
  </tr>
</table>

  <table style="width:100%" align="center">
    <tr>
      <th>Location</th>
      <th>Address</th>
      <th>District</th>
      <th>X coordinate</th>
      <th>Y coordinate</th>
      <th>Detail</th>
      <th>Category</th>
      <th>Date from</th>
      <th>Date to</th>
      <th> </th>
    </tr>
    {% for visit in visit_list %}
    <tr>
    <td>{{ visit.location.location_visited }}</td>
    <td>{{ visit.location.address }}</td>
      <td>{{ visit.location.district }}</td>
      <td>{{ visit.location.x_coord }}</td>
      <td>{{ visit.location.y_coord }}</td>
      <td>{{ visit.detail }}</td>
      <td>{{ visit.category }}</td>
      <td>{{ visit.date_from }} </td>
      <td>{{ visit.date_to }}</td>
      <td><button type="button" class="btn btn-default">Edit</button></td>
      </tr>
      {% empty %}
      <tr><td colspan="9">Currently no Data Available</td></tr>
      {% endfor %}
    </table>
